<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  <h1>Welcome to the Dashboard</h1>
  <ul>
    <li><a href="/dashboard/submit-new-timesheet">Submit New Timesheet</a></li>
    <li><a href="/dashboard/submitted-timesheets">Submitted Timesheets</a></li>
    <li><a href="/dashboard/draft-timesheets">Draft Timesheets</a></li>
    <li><a href="/dashboard/declined-timesheets">Declined Timesheets</a></li>
    <li><a href="/dashboard/missing-timesheets">Missing Timesheets</a></li>
    
  </ul>
</body>
</html>
